/*!CK:1893707368!*//*1438141019,*/

._5572{background-color:#3b5998;bottom:0;color:#fff;cursor:pointer;font-size:8pt;padding:4px;position:fixed;right:-140px;-moz-transition:right .5s;width:130px}._5572.show{right:0;-moz-transition:right .5s}

#bootloader_6T6T8 { height: 42px; }
.bootloader_6T6T8 { display:block !important; }