<div class="ui grid">
	<div class="row">
	<div class="ui text container">
			<div class="ui fluid primary buttons">
				<button class="scan-start ui button"><i class="play icon"></i>Start</button>
				<button class="scan-pause ui disabled button"><i class="pause icon"></i>Pause</button>
				<button class="scan-stop ui disabled button"><i class="stop icon"></i>Stop & Save</button>
			</div>
	</div>
	</div>
	<div id="scanChart" class="scanOn three wide widescreenMonitor sixteen wide column">
	</div>
	<div id="scanTable" class="scanOn thirteen wide widescreenMonitor sixteen wide column">
	</div>
	<div class="ui scan-save check small modal">
		<div class="header">
			Do you want to save Scanned Data in LocalStorage?
		</div>
		<div class="content">
			<div class="description">
				Click 'Yes' button to save Scanned-data, or click 'No'
			</div>
		</div>
		<div class="actions">
			<div class="ui cancel secondary button">No</div>
			<div class="ui approve primary button">Yes</div>
		</div>
	</div>
</div>