<div class="five wide computer sixteen wide widescreenMonitor column">
	<div class="ui raised segments">
		<div class="ui segment">
			<h4 class="ui header">Type</h4>
		</div>
		<div class="ui segment">
			<canvas id="typeChart" class="chartjs"></canvas>
		</div>
		<div id="typeLegend" class="ui segment"></div>
	</div>
</div>
<div class="five wide computer sixteen wide widescreenMonitor column">
	<div class="ui raised segments">
		<div class="ui segment">
			<h4 class="ui header">Encryption</h4>
		</div>
		<div class="ui segment">
			<canvas id="encChart" class="chartjs"></canvas>
		</div>
		<div id="encLegend" class="ui segment"></div>
	</div>
</div>
<div class="five wide computer sixteen wide widescreenMonitor column">
	<div class="ui raised segments">
		<div class="ui segment">
			<h4 class="ui header">Channel</h4>
		</div>
		<div class="ui segment">
			<canvas id="chChart" class="chartjs"></canvas>
		</div>
		<div id="chLegend" class="ui segment"></div>
	</div>
</div>